*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background: #f3f7fe;
    padding: 10px 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("adi.webp");
    background-size:auto;
    background-position: left;
}
.hero h1{
    font-size: 75px;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000;
    cursor: pointer;
    transition: transform 1s;
}
.hero h1:hover{
    -webkit-text-fill-color: #000;
    transform: translateY(-10px);
}
.img-box{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    background-image: url("jai.webp");
    background-size: cover;
    background-position: center;
    transition: background-image 2.5s;
}
.hero h1:nth-child(1):hover ~ .img-box{
    background-image: url("shiv.webp");
}
.hero h1:nth-child(2):hover ~ .img-box{
    background-image: url("yogi.webp");
}
.hero h1:nth-child(3):hover ~ .img-box{
    background-image: url("dev.webp");
}
.img-box p{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-right: 40%;
    margin-top: 10%;
    
}
#icon{
    width: 80px;
    cursor: pointer;
}